<div class="container about" id="me">
  <div class="row white-highlighter">
    <div class="col-md-3 text-center">
      <p><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAzVAAAAJDg5NjMwMTg3LTZjMGMtNDE3Zi1hNDAxLTBiNmY1NmYwMTI0OA.jpg" class="img-circle about-img"></p>
      <h3>Cesurhan Uygun</h3>
      <h5>Junior Web Developer</h5>
    </div>
    <div class="col-md-9">
      <p><i>“Nothing in the world is worth having or worth doing unless it means effort, pain, difficulty… I have never in my life envied a human being who led an easy life. I have envied a great many people who led difficult lives and led them well.”
― Theodore Roosevelt</i></p>
      <hr>
      <p>As a person with strong work ethic and commitment, I take my job very serious. It is important for me that my plate is clean at the end of the day. I am very loyal, transparent and a good team player.
Rails > Ruby > Postgresql | sql | React > Redux > Feathers > MongoDB</p>
    </div>
  </div>
</div>
