<footer>
  <div class="footer-wrapper text-center">
    <div class="contact" id="contact">
      <ul class="list-inline">
        <li>
          <a href="<%= about_path %>#me" class="btn">
            ABOUT
          </a>
        </li>
        <li>
          <a href="<%= root_path %>#portfolio" class="btn">
            PORTFOLIO
          </a>
        </li>
        <!-- <li>
          <a href="#" class="btn">
            RESUME
          </a>
        </li> -->
        <!-- <li>
          <a href="#" class="btn">
            BLOG
          </a>
        </li> -->
        <li>
          <a href="tel:+31633919249" class="btn">
            CALL
          </a>
        </li>
      </ul>
    </div>
    <h4>For more information, send email to info@cuygun.com</h4>
    <div class="social-media">
      <ul class="list-inline">
        <li>
          <a class="btn btn-first full-radius" href="https://www.linkedin.com/in/cesurhanuygun" target="_blank">
            <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
            <span class="sr-only">LinkedIn</span>
          </a>
        </li>
        <li>
          <a class="btn btn-first full-radius" href="mailto:ces-ur@hotmail.com" target="_blank">
            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Mail</span>
          </a>
        </li>
        <li>
          <a class="btn btn-first full-radius" href="https://github.com/Cesurhan/cuygun" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            <span class="sr-only">Twitter</span>
          </a>
        </li>
      </ul>
    </div>
    <p class="copy">© 2017 Cesurhan Uygun. All rights reserved.</p>
  </div>
</footer>
