<header>
  <!-- Headbar -->
  <%= render 'shared/navbar'%>
  <div class="banner-title text-center">
    <b>
      <h1>LET'S BUILD SOMETHING AMAZING TOGETHER</h1>
    </b>
    <h3>I'm here to create meaningful and lasting relationships with my clients.</h3>
    <a href="<%= about_path %>#me" class="btn btn-trans banner-btn">About</a>
  </div>
  <!-- Banner-title -->
</header>
