<div class="middle-banner">
  <div class="black-overlay">
    <div class="banner-title text-center">
      <h3>I am always up for challanges.</h3>
      <b>
        <h1>HAVE A LOOK AT MY REPOSITORIES</h1>
      </b>
      <a href="https://github.com/Cesurhan?tab=repositories" class="btn btn-trans banner-btn" target="_blank">Check Out</a>
    </div>
  </div>
</div>
