<div class="portfolio">
  <div class="container text-center">
      <h2 class="portfolio-title">My goal is to provide clean code on way to high quality product.</h2>
    <div class="col-md-4">
      <i class="devicon-html5-plain devicon"></i>
      <p></p>
        <div class="caption">
          <ul class="list-unstyled">
            <h4>HTML</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent neque augue, posuere elementum tristique sit amet, eleifend in metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per.</p>
          </ul>
        </div>
    </div>
    <div class="col-md-4">
      <i class="devicon-ruby-plain devicon"></i>
      <p></p>
      <div class="caption">
        <ul class="list-unstyled">
          <h4>Ruby</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent neque augue, posuere elementum tristique sit amet, eleifend in metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per.</p>
        </ul>
      </div>
    </div>
    <div class="col-md-4">
      <i class="devicon-javascript-plain devicon"></i>
      <p></p>
      <div class="caption">
        <h4>JavaScript</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent neque augue, posuere elementum tristique sit amet, eleifend in metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per.</p>
      </div>
    </div>
  </div>
</div>
