@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// body

body {
  background-color: whitesmoke;
  font-family: 'Cantarell', sans-serif;
}

// header

header {
  background-image: image-url('header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  background-position:50% 40%;
}

header h1 {
  font-size: 3em;
  text-shadow: 2px 2px 4px #000000;
}

header h3 {
  text-shadow: 2px 2px 4px #000000;
}

.navbar-brand {
  color: #ffffff;
}

.banner-title {
  padding-bottom: 8%;
  padding-top: 3%;
}

.banner-btn {
  margin-top: 3em;
}

.navbar-btn {
  border: none !important;
  color: #BEBEC0 !important;
}

// btn-trans

.btn-trans {
  color: #FFFFFF;
  // background-color: rgba(000,0,0,0.1);
  border: 2px solid;
  border-color: #FFFFFF;
  border-radius: 0;
  transition: all 0.3s ease 0s;
  padding: 0.5em;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 1.3em;
}

.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
  color: #3d3d3d;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
  background-image: none;
}

.btn-trans.disabled,
.btn-trans[disabled],
fieldset[disabled] .btn-trans,
.btn-trans.disabled:hover,
.btn-trans[disabled]:hover,
fieldset[disabled] .btn-trans:hover,
.btn-trans.disabled:focus,
.btn-trans[disabled]:focus,
fieldset[disabled] .btn-trans:focus,
.btn-trans.disabled:active,
.btn-trans[disabled]:active,
fieldset[disabled] .btn-trans:active,
.btn-trans.disabled.active,
.btn-trans[disabled].active,
fieldset[disabled] .btn-trans.active {
  background-color: #000000;
  border-color: #FFFFFF;
}

.footer-wrapper {
  color: #BEBEC0;
  background-color: #26262A;
}

.footer-wrapper a{
  color: #BEBEC0;
}

.contact {
  padding-top: 3em;
  padding-bottom: 2em;
}

.contact a {
  font-size: 1.5em;
}

.contact li {
  padding-left: 7em;
  padding-right: 7em;
}

.social-media {
  padding-top: 2em;
}

.copy {
  padding-bottom: 5em;
}
