<!DOCTYPE html>
<html>
  <head>
    <title>Cuygun</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=false;">
    <link href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
